.right{
    position: relative;
    width: 60%;
    overflow: hidden;
}

.right img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.right::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:180px;
    height:100%;
    background:linear-gradient(to right,#ffecb3 0%,rgba(255,236,179,0) 100%);
    z-index:2;
}
