/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    overflow:hidden;
}

/* Layout */

.container{
    display:flex;
    width:100%;
    height:100vh;
}

/* Left */

.left{
    width:50%;
    background:#ffecb3;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;

    padding-left:80px;
}

.left h1{
    font-size:90px;
    color:#fbc02d;
    margin-bottom:40px;
}

nav{
    display:flex;
    flex-direction:column;
    gap:18px;
}

nav a{
    text-decoration:none;
    color:#333;
    font-size:28px;
    transition:.3s;
}

nav a:hover{
    color:#ff9800;
    transform:translateX(10px);
}

/* Right */

.right{
    width:50%;
    height:100vh;
    position:relative;
    overflow:hidden;
}

.right img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center center;
    display:block;
}

/* เฟดตรงรอยต่อ */

.right::before{

    content:"";

    position:absolute;

    left:0;
    top:0;

    width:180px;
    height:100%;

    background:linear-gradient(
        to right,
        #ffecb3 0%,
        rgba(255,236,179,.9) 25%,
        rgba(255,236,179,.5) 60%,
        rgba(255,236,179,0) 100%
    );

    pointer-events:none;
}

/* Responsive */

@media (max-width:768px){

.container{
    flex-direction:column;
}

.left,
.right{
    width:100%;
}

.left{
    height:50%;
    padding:40px;
}

.right{
    height:50%;
}

.left h1{
    font-size:48px;
}

nav a{
    font-size:22px;
}

}
