.right{
    width:50%;
    height:100vh;

    background:
        linear-gradient(
            to right,
            #ffecb3 0%,
            rgba(255,236,179,.95) 12%,
            rgba(255,236,179,.75) 22%,
            rgba(255,236,179,.35) 32%,
            rgba(255,236,179,0) 45%
        ),
        url("g01.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* ==========================
   Responsive
========================== */

@media(max-width:768px){

.container{
    flex-direction:column;
}

.left,
.right{
    width:100%;
}

.left{
    height:50%;
    padding:40px;
}

.right{
    height:50%;
}

.left h1{
    font-size:48px;
}

nav a{
    font-size:22px;
}

}
